/**
 *
 * Content: Page
 *
 */

.home-page {
    background-color: gray;
    padding: 20px;
    display: block;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
}

.slide {
    display: block;
    background-color: blue;
    color: #fff;
}   

.dev-branch {
    color: gray;
}
