/**
 *
 * Content: Page
 *
 */

.home-page {
    background-color: gray;
    padding: 20px;
    display: block;
}

.title {
    text-transform: uppercase;
    font-size: 30px;
}

.slide {
    display: block;
    background-color: blue;
    color: #fff;
}   

.dev-branch {
    color: gray;
}

.block {
    display: block;
}

.block-comment {
    text-align: center;
    background-color: tomato;
    padding: 30px;
}

.update {
    display: flex;
    flex-wrap: wrap;
}

.update-1 {
    justify-content: start;
}
